{% extends 'base.html' %}

{% block content %}

<form action="proceed" method="post" enctype="multipart/form-data">
				{% csrf_token %}

                <label for="pdfFile">Select PDF File:</label>
                <table>
                  <tbody>
                  <tr>
               <td><input class="form-control" type="file" id="formFile" name="upload" accept=".pdf"></td> 
              
                <td><input type="submit" class="pdfbutton" value="Proceed"></td>
              </tr>
            </tbody>
              </table>
            </form>

{% endblock content %}