{% extends 'base.html' %}

{% block content %}


<form action="proceed" method="post" id="form" enctype="multipart/form-data">
				{% csrf_token %}

                <label for="pdfFile">Select PDF File:</label>
                <table>
                  <tbody>
                  <tr>
               <td><input class="form-control" type="file" id="formFile" name="upload" accept=".pdf"></td> 
              
                <td><input type="submit" class="pdfbutton" value="Proceed"></td>
              </tr>
            </tbody>
              </table>
            </form>
<script>
  document.getElementById('form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the form from submitting immediately

    var fileInput = document.getElementById('formFile');
    var file = fileInput.files[0];

    if (file && validateDocumentType(file)) {
        // File is valid, proceed with form submission
        this.submit();
    } else {
        // Invalid file type, show error message to the user
        alert('Invalid file type. Please upload a PDF file.');
    }
});

function validateDocumentType(file) {
    var validTypes = ['application/pdf']; // Only allow PDF files
    return validTypes.includes(file.type);
}
</script>

{% endblock content %}